# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template
.idea
*.iml
out
gen

.settings
.project
.classpath
target
/core/bin/
/service/bin/
/core/.bpmn/
