# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template
.idea
*.iml
out
gen
target
.settings
.project
.classpath


/core/bin/
/service/bin/
/core/.bpmn/
